<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whatEver.iitnstu">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NoticeBoardActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegisterUserActivity" />
        <activity android:name=".AuthenticationActivity" />
        <activity android:name=".StudentAdapterActivity" />
        <activity android:name=".TeachersInfoActivity" />
        <activity android:name=".CourseCoordinatorActivity" />
        <activity android:name=".DevelopersActivity" />
        <activity android:name=".OfficialsActivity" />
        <activity
            android:name=".SearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".tools.PdfViewer" />
        <activity android:name=".SyllabusActivity" />
        <activity android:name=".DirectorProfileActivity" />
        <activity android:name=".StudentInfoActivity" />
        <activity android:name=".AllCourseDetailsActivity" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>